<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizontal">
        <div class="field-body">
                <div class="field is-narrow">
                    <p class="control">
                        <input class="input" type="number" placeholder="Amount" style="width: 100px;">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" placeholder="Description">
                    </p>
                </div>
                <div class="field is-narrow">
                    <!-- disabled true -->
                  <button class="button"  style="background-color: rgb(185, 152, 230)">Add</button>
                </div>
                <hr>
                //template driven forms
        </div>
    </div>
</form>