<form>
    <div class="field is-horizontal">
        <div class="field-body">
                <div class="field is-narrow">
                    <p class="control">
                        <input class="input" type="number" placeholder="Amount" style="width: 100px;">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" placeholder="Description">
                    </p>
                </div>
                <div class="field is-narrow">
                  <button class="button" disabled="true" style="background-color: rgb(159,104,235)">Add</button>
                </div>
                <hr>
        </div>
    </div>
</form>