@import '../../main-style.scss';

.budget-items-section{
    display: flex;
    padding: 50px;

    justify-content: center;
    align-items: center;

    .budget-items-container
    {
        display: flex;
        max-width: 720px;
        height: 100%;
        width: 100%;
       

        .expense-column,.income-column
        {
            display: flex;
            flex-direction: column;
            flex-basis: 0;//for column to be on the same side
            flex-grow: 1;

            h1{
                font-family: 'Lato';
                font-size: 24px;
                font-weight: 900;
                text-transform:uppercase;
            }
        }
            
        }
    }
