@import '../../../main-style.scss';
.root{
    display: flex;
    width: 100%;
}
.budget-item{
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;

    .description{
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;
    }
    .amount{
        padding: 5px;
        border-radius: 3px;
    }
}
.expense{
    .p{
        color: $red;
        text-align: center;
    }
    .amount{
        background-color: $light-red;
    }
}
.income{
    .p{
        color: $green;
        text-align: center;

    }
    .amount{
        background-color: $light-green;
    }
}